.home{
    background-color: white;
}

.pwhome{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    display: table-cell;
    height: 400px;
    vertical-align: middle;
}

.pages {
    text-align: center;
    display: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.webpages {
    max-width: 100%;
    height: auto;
}

.initialresponsive {
    max-width: 22.5vw;
    height: auto;
}

.initialdiv {
    text-align: center;
}

.initialparagraph {
    font-family: 'Source Code Pro', monospace;
    color: black;
    font-size: 2.75vw;
    margin-right: 2%;
    margin-left: 1.5%;
    text-align: center;